* {
  margin: 0px;
  padding: 0px;
  font-family: 'Monda', sans-serif;
}

html {
  background-color: #EE1515;
}

.content {
  width: 70vw;
  margin: 0 auto;
}

.title {
  font-size: 50px;
}

nav ul {
  list-style: none;
}

nav ul li a {
  font-style: none;
}

.well {
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  background-color: #222224;
  box-shadow: inset 0px 0px 10px #000;
  color: #FFF;
}

.sprite {
  float: left;
  height: 126px;
  width: 126px;
  position: relative;
}

.sprite img {
  display: block;
  margin: auto;
  position: absolute;
  top: 15px;
  left: 15px;
}

.types {
  border-radius: 3px;
  border: 1px solid #FFF;
}

.normal {
  background-color: #A8A878;
}

.fire {
  background-color: #F08030;
}

.fighting {
  background-color: #C03028;
}

.water {
  background-color: #6890F0;
}

.flying {
  background-color: #A890F0;
}

.grass {
  background-color: #78C850;
}

.poison {
  background-color: #A040A0;
}

.electric {
  background-color: #F8D030;
}

.ground {
  background-color: #E0C068;
}

.psychic {
  background-color: #F85888;
}

.rock {
  background-color: #B8A038;
}

.ice {
  background-color: #98D8D8;
}

.bug {
  background-color: #A8B820;
}

.dragon {
  background-color: #7038F8;
}

.ghost {
  background-color: #705898;
}

.dark {
  background-color: #705848;
}

.steel {
  background-color: #B8B8D0;
}

.fairy {
  background-color: #EE99AC;
}

.base_stats {
  list-style: none;
}

.stat {
  position: relative;
}

.stat strong {
  left: 5px;
  position: absolute;
  font-size: 15px;
  color: #000;
}

.hp {
  color: #0168AB;
}

meter {
  height: 20px;
  width: 255px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
